<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Song</title>
  </head>
  <body>
    <h1>Add New Song</h1>
    <form action="/songs/add" method="post">
      Title Song:<br>
      <input type="text" name="title" value=""><br>
      Singer:<br>
      <input type="text" name="singer" value=""><br>
      Genre:<br>
      <select name="genre">
        <option value="pop">Pop</option>
        <option value="rock">Rock</option>
        <option value="jazz">Jazz</option>
        <option value="blues">Blues</option>
        <option value="rnb">R&B</option>
      </select><br>
      Link:<br>
      <input type="text" name="link" value=""><br>
      <input type="submit" name="submit" value="Add Song">
    </form>
  </body>
</html>
