<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login User</title>
  </head>
  <body>
    <%- include('./partials/header')%>
    <h1>Login</h1>
    <div class="form">
      <form action="/" method="post">
        <p>Email:</p>
        <input type="text" name="email" value="">
        <p>Password:</p>
        <input type="password" name="password" value=""><br>
        <input type="submit" name="" value="Login">
      </form>
      <p>Not a member yet? <a href="/register">Register here</a></p>
    </div>
  </body>
</html> -->

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <title>Home</title>
  </head>
  <body>
      <header>
          <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ecf0f1" id="navbar">
          <div class="container">
              <a class="navbar-brand" href="#"><i class="fas fa-volume-down"></i> &nbsp; Spotifu</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
          </div>
          </nav>
      </header>

      <main>
        <br>
        <div class="container">
          <div class="row">
          <div class="col-8">
            <img src="https://i.pinimg.com/originals/54/45/01/544501385f721ee538b03f7fd86d5560.jpg" class="img-fluid" alt="Responsive Image">
          </div>
          <div class="col-4">
              <form action="/" method="POST">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  </div>
                  <button type="submit" class="btn btn-primary">Login</button>
                </form>
                <br>
                <p>Not a member yet? <a href="/register">Register here</a></p>
            </div>
          </div>
        </div>
      </main>

    <footer>
      <div class="fixed-bottom">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
          <div class="container">
            <ul class="ml-auto">
              <label for="" style="color: #ecf0f1 ">&copy; Spotifu Team</label>
            </ul>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
          </div>
      </nav>
      </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>
</html>
