<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add New Mood</title>
</head>
<body>
  <h1>Add Mood</h1>
  <table>
    <form action="/moods/add" method="post">
        Mood:
        <input type="text" name="mood" placeholder="Insert mood">
        Song ID:
        <input type="text" name="SongId" value="">
        <input type="submit"value="Submit"></td>
    </form>
  </table>
</body>
</html>
