<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add New Mood</title>
</head>
<body>
  <h1>Add Mood</h1>
  <table>
    <form action="/moods/add" method="post">
<<<<<<< HEAD
      <tr>
          <td>Mood</td>
          <td><input type="text" name="mood" placeholder="Insert mood"></td>
      </tr>
      <tr>
          <td>SongId</td>
          <td><input type="text" name="SongId" placeholder="Insert id song"></td>
      </tr>
      <tr>
        <td><input type="submit"></td>
      </tr>
=======
        Mood:
        <input type="text" name="mood" placeholder="Insert mood">
        Song ID:
        <input type="text" name="SongId" value="">
        <input type="submit"value="Submit"></td>
>>>>>>> d86e0be950f7a1dff7a9c91bd8f027fd438411ee
    </form>
  </table>
</body>
</html>
