<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add New Mood</title>
</head>
<body>
  <table>
    <form action="/moods/add" method="post">
      <tr>
          <td>Mood</td>
          <td><input type="text" name="mood" placeholder="Insert mood"></td>
      </tr>
      <tr>
          <td>SongId</td>
          <td><input type="text" name="SongId" placeholder="Insert id song"></td>
      </tr>
      <tr>
        <td><input type="submit"></td>
      </tr>
    </form>
  </table>
</body>
</html>
